$max-width: 1170px;

body{
    //font-family: 'Noto Serif SC', serif;
    font-family: 'Cormorant Unicase', serif;
}
.container{
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.header{
    font-size: 46px;
    padding: 60px 0;
    text-align: center;
}