$lilac: #e3cadd;
$lilac-text: #cf85a3;

ul > li {
    list-style-type: none; 
    a {
        text-decoration: none;
    }
}
.top-header {
    border-bottom: 1px solid $lilac;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
        padding: 0 30px;
        a {
            font-size: 25px;
            color: $lilac-text;
            &:hover{
                cursor: pointer;
            }
        }
    }
}